.flex_row {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.flex_column{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form {
    background-color: #FFFCFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
}

.form h2 {
    text-align: center;
}

.formbox {
    gap: 0.5em;
    border: 1px solid #FBE9E6;
    border-radius: 10px;
    padding: 2em;
    margin: 1em 0;
    background-color: #fff;
    width: 27em; 
}

.formbox > * {
    gap: 1em;
}

.formbox h3 {
    font-size: 1.3em;
    font-weight: 600;
}

input{
    border: 1px solid #FBE9E6;
    border-bottom: 10px;
    background-color: #D5E2EC;
    padding: 0.5em;
}

input[type="submit"]{
    background-color: #FBE9E6;
    padding: 1em 0;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #efd5d1;
}

.CreditPayment {
    display:flex;
    flex-direction: column;
}

.payment {
    display: flex;
    flex-direction: column;
   
}

.cardInfo {
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
}

.cvv input {
    max-width: 5.8em;
}

.zip input {
    max-width: 7.6em;
}

.expDate{
    display: flex;
    gap: 0.5em;
}

.expDate input{
    max-width: 4em;
}

.name {
    display: flex;
    gap: 0.5em;
}

.name input {
    max-width: 11em;
}

.rightBox{
    gap: 2em;
}

.space_between {
    justify-content: space-between;
}

.promo {
    width: 100%;
}

select {
    display:flex;
    padding: 1em;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #FBE9E6;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

.option_btn {
    width: 100%;
    position: relative;
    height: 60px;
    border: 1px solid #FBE9E6;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    font-weight: 800;
}



@media screen and (min-width: 40em){

    .flex_row_mobile {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    form {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .formbox {
        width: 100%;
        height: fit-content;
    }

    .card_num input {
        max-width: 25em;
    }

    .first_name > input, .last_name > input{
        max-width: 30em;
    }


}

