
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+CU&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+CU&display=swap');

:root {

  --alabaster: #FFFCFA;
  --pink: #FBE9E6;
  --light-pink: #D9D9D9;
  --gunmetal: #232F31;
  --night: #0a0d0a;

  --f-main:"Lato", sans-serif;
  --f-logo:"Merriweather", serif;

}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-family: var(--f-main);
}

/* Media responsive */
img, picture, svg, video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


p {
  max-width: 75ch;
  text-wrap: pretty; /* Prevents orphans on lines */
}

.flex-mobile {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 21em;
  height: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(#fff 35%, rgb(0,0,0,0) 35%);
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.card-container {
  display: grid;
  gap: 3em;
  padding-top: 1em;
}

.card-body{
  padding: 1em 0;
  gap: 1em;
}

.card h3 {
  font-size: 1.5em;
}


h2 {
  font-size: 2em;
}


/*Hero Section*/


.hero {
  position:relative;
}

.overlay-text h1{
  font-size: 1.7em;
}

.overlay-text p {
  font-size: 0.7em;
}

.overlay-text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: absolute;
  background-color: hsl(0, 0%, 100%, 0.6);
  color: var(--gunmetal);
  padding: 5% 37% 5% 5%;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 1em 3em 0.8em 0;
  max-width: 78em;
}

.hero-btn {
  background-color: var(--pink);
  border: none;
  color: var(--gunmetal);
  padding: 0.625em 4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 0.7em;
  text-transform: uppercase;
}

@media screen and (min-width: 40em){

  .overlay-text h1{
    font-size: 5em;
  }

  .overlay-text p {
    font-size: 1.5em;
  }

  .hero-btn {
    font-size: 1.5em;
    max-width: 20em;
    padding: 1.5em 4em;
  }

}



/* Pricing Section*/
.pricing {
  background-color: var(--pink);
  padding: 5em 0;
}

.pricing-card_price{
  font-size: 2em;
  font-weight: 600;
}


/* About Section*/



@media screen and (min-width: 40em){

  .about {
    display: grid;
    gap: 3em;
    
  }
  .about-header {
    display: flex;
    flex-direction: row;
    gap: 4em;
    max-width: 30em;
    margin: 0 6em;
  }
  
  .about-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-shrink: 0;
    max-width: 25em;
  }
  
  .card-container {
    display: flex;
    gap: 3em;
    padding: 3em 0;
  }

  
  }